.cal
{
    border: 1px solid black;
    width: 200px;
    padding-top: 20px;
    margin: 0 auto;
    height: 200px;
    background-color: gray;
}


.input
{
    border: 1px solid black;
    width: 186px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-left: 3px;
    
}

.clear
{
    width: 193px;
    margin-left: 3px;
    margin-bottom: 10px;

}

.butt
{
    width: 43px;
    margin-left: 3px;
    margin-bottom: 5px;


}